@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 508px;
    background: url("./assets/beach2.jpg") no-repeat center;
    background-size: cover;
    padding: 40px 36px 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.background {
    font-size: 22px;
}

.text-container {
    align-self: flex-start;
    justify-content: center;
}

.break::before {
    content: "\a";
    white-space: pre;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon-border {
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon-container {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    align-self: flex-end;
}

.header-text {
    align-self: flex-start;
}

.profile-pic {
    margin-right: 1vw;
    margin-bottom: -2vh;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    align-self: flex-end;
}


/* ---------------Main section----------------------- */

.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: auto;
    padding: 36px 56px;
    font-size: 18px;
}

.grey {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

.heading {
    color: #6b7a99;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.text-box {
    background: #6b7a99;
    color: #fff;
    font-weight: bold;
    /* font-size: 22px; */
    padding: 5px;
}

.blue {
    color: #6b7a99;
    font-weight: bold;
}


/* ---------------About me-section------------------- */

.line-dot {
    display: flex;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #6699cc;
    border-radius: 50%;
    margin-left: -5px;
    margin-bottom: -5px;
    margin-right: 10px;
    display: inline-block;
}

.line {
    width: 70px;
    height: 4px;
    background: #6699cc;
    display: inline-block;
}

.text {
    text-align: left;
    /* font-size: 20px; */
}

.tech-text {
    text-align: center;
    /* font-size: 22px; */
}


/* --------------Project section---------------------- */

.projects,
.thoughts {
   
    font-family: 'Roboto', sans-serif;
    /* font-size: 22px; */
}

.portfolio-section img {
    width: 100%;
    margin-top: 30px;
}   

a:link {
    text-decoration: none;
}

.black {
    color: #000;
}

.pink {
    background: #fddfe7;
    color: #000;
    margin-right: 10px;
    padding: 5px;
}

.padding {
    padding-right: 10px;
}

.projects {
    margin-top: 50px;
    width: auto;
    height: auto;
    padding: 20px;
}

.shadow {
    box-shadow: 0 10px 10px #999;
    transition: box-shadow 0.3s ease;
}

.shadow:hover {
    box-shadow: 5px 10px 10px #999;
}

.project-pic {
    width: 80vw;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: #000;
    padding-top: 70px;
}

.project-pic img {
    filter: blur(1px);
}



.weather {
    background-image: url("./assets/weather-app.png");
}

.cluedo {
    background-image: url("./assets/cluedo-app.png");
}

.spa {
    background-image: url("./assets/spa.png");
}

.pizza {
    background-image: url("./assets/pizza-app.png");
}

.top {
    margin-top: 50px;
}


/* ----------Thought and skills-sections */

.thoughts {
    width: 80%;
}
.my-thoughts{
    margin-right: 80px;
}
.thoughts-pic {
    background-image: url("./assets/thoughts.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    align-self: center;
}

.thinking-pic {
    background-image: url("./assets/thinking.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    align-self: center;
}
.new-row {
    flex-basis: 100%;
    height: 0;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    width: 50%;
}

.icon-container-blue {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.icon-border-blue {
    width: 50px;
    height: 50px;
    border: 3px solid #6b7a99;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.icon-blue {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 25px;
}


/* ------------footer section---------------- */

footer {
    height: 200px;
    background: #8da2b4;
    /* background: #3a70a6; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}

.bold {
    font-weight: bold;
}


/* ---------------Media queries--------------- */

@media (min-width: 750px) {
    .portfolio-section {
        display: flex;
        font-size: 22px;
    }
    header {
        padding: 100px 100px 0 100px;
    }
    .text-container {
        margin-bottom: 70px;
    }
    .profile-pic {
        width: 180px;
        height: 180px;
        background-size: 180px 180px;
        margin-top: -20%;
        margin-right: -5%;
    }
    .project-display {
        display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
    }
    .projects {
        width: 35%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin: 10px;
       
       
    }
    .project-pic {
        /* flex: 0 50%; */
        width: 35vw;
        height: 20vh;
    }
    .projects-text {
        width: 35vw;
    }
    .thoughts {
        display: flex;
    }
    .my-thoughts {
        width: 35%;
        flex-grow: 1;
        padding: 10px 20px;
    }
}

@media (min-width:1150px) {
    .project-pic {
        height: 30vh;
    }
    .text-container {
        margin-bottom: 80px;
    }
}

@media (min-width:1460px) {
    .projects {
        max-width: 30%;
        flex-grow: 1;
        padding: 10px;
    }
    .project-pic {
        width: 25vw;
        height: 20vh;
    }
    .projects-text {
        width: 25vw;
    }
    .profile-pic {
        width: 220px;
        height: 220px;
        background-size: 220px 220px;
    }
    .text-container {
        margin-bottom: 120px;
    }
}